.idea
cifar10/main_deploy.py
pretrained*
*/*.pth
*/logs*
*/*/logs*
experiment*
data
*/data
*/data*/
__pycache__
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*.pyc
*/*.pyc
*/*/*.pyc

wandb/
*/wandb/
*/*/wandb
*.old
*/*.old
*.png
*/*.png
*.jpg
*/*.jpg

*_debug.py
*/*_debug.py

*/taming
*/moving

*/*.npz
*/*/*.npz

.git.old
*.pkl
*/*.pkl
*/*/*.pkl
*/*/*/*.pkl

*.pt
*/*.pt
*/*/*.pt
*/*/*/*.pt

*.pth
*/*.pth
*/*/*.pth
*/*/*/*.pth

*.pdf
*/*.pdf
*/*/*.pdf
*/*/*/*.pdf

./code/

imagenet/ldm
code/

*.zip